<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->
<p>
<center>
This event is organised by:
<br>
<div class="image12">
<div class="imgContainer">
<a href='https://www.repidemicsconsortium.org/'><img src='https://www.repidemicsconsortium.org/img/logo.png' width='200px' alt='R Epidemics Consortium'>
</a>
<p>The R Epidemics Consortium</p>
</div>
<large>&</large>
<div class="imgContainer">
<a href='https://epietalumni.net/'><img src='images/ean.png' width='200px' alt='EPIET Alumni Network'></a></p>
<p>The EPIET Alumni Network</p>
</div>
</div>
<small>
This event is co-funded by the Medical Research Council (MRC) Centre for Outbreak Analysis and Modelling, and the National Institute for Health Research - Health Protection Research Unit (NIHR-HPRU) for Modelling Methodology.
</small>
</center>
</p>
